.platform-ios {
    ion-app {
        top: 20px !important;
    }
}

// Setting automatic padding from Safari-Environment
body {
    padding-top: 0;
    padding-top: env(safe-area-inset-top, 0);
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom, 0);
}